<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Bonjour</title>
</head>
<body>
<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/hello.js"></script>
</body>
</html>