<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Bonjour</title>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
</head>
<body>
<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/socketClient.js"></script>
</body>
</html>