<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Bonjour</title>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
</head>
<body>

<div class="scoreD">
	A
</div>
<div class="scoreG">
	B
</div>

<canvas id="myCanvas" width="400" height="400" style="border:1px solid black">
	



</canvas>	

<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/socketClient.js"></script>

	
</body>
</html>