body {
    padding: 10px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.score {
    font-size: 20pt;
    margin-bottom: 10px;
}

.col-btn {
    overflow: hidden;
    height: 350px;
    width: auto;
    padding: 0
}
    .btn-group-vertical {
        height: 100%;
        width: auto;
        margin : 0;
    }
    .btn {
        height: 50%;
    }
        .glyphicon {
            text-align: center;
            font-size: 40pt;
            vertical-align: center;
        }

canvas {
    display:block;
    margin-left: 0;
}
